@font-face {
  font-family: "Main";
  src: url("../fonts/main_font.woff") format("woff2"), url("../fonts/main_font.woff") format("woff");
}
body{
    font-family: 'main';
    color: rgba(0,0,0,.5);
}
img {
  display: block;
  width: 100px;
}

.logo:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.dropdown-menu {
  border-radius: 10%;
}
.dropdown-toggle::after{
    margin-left: -5px;
    margin-bottom: -4px;
}


.collapse {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

    font-size: 18px;

}

.title {
    margin: 0;
    padding: 0;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing:15px;
}
h1{

    font-size: 4em;
    text-transform: uppercase;
    margin-bottom: 50px;

}
.chart{
    opacity: 0;
    animation: animate 4s linear forwards;
}
@keyframes animate {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}
.main_btn{
    padding: 10px 30px;

    color: darkred;
    font-size: 1em;
    cursor: pointer;

}
.fog {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url("../images/BG.jpeg") center center;
    background-size: cover;
    text-align: center;
}
.fog::before,
.fog::after,
.fog div::before,
.fog div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
}
.fog div::before,
.fog div::after    {
    left: 100%;
}
.fog::before,
.fog div::before {
    background-image: url("../images/fog-1.png");
    animation: fogmove 30s linear 0s infinite;
}
.fog::after,
.fog div::after {
    background-image: url("../images/fog-2.png");
    animation: fogmove 20s linear 0s infinite;
}
@keyframes fogmove {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
}
.rules{
    padding-top: 190px;
    padding-bottom: 180px;
    background-image: url('../images/bg_rul.png');
    background-size: cover;
}
.rules_h2 {
    margin-bottom: 30px;
    font-size: 50px;
    color:black;
    border-bottom: 1px solid black;
}
.card:hover{
    transform: scale(1.03);
}
.card-title{
    font-size: 30px;
    color: black;
}